@{
    ViewData["Title"] = "Bienvenue";
}

<section class="presentation">
    <h1>Bonjour, je suis Jessica Dupont.</h1>
    <p>Je suis développeuse web full stack. J'aime utiliser mes connaissances pour créer des solutions.</p>
</section>
