@{
    ViewData["Title"] = "Bienvenue";
}

<section class="presentation">
    <img src="https://media.licdn.com/dms/image/D4E16AQGv32LqXnT8fQ/profile-displaybackgroundimage-shrink_350_1400/0/1673949525010?e=1680739200&v=beta&t=mpHOg4Twfw1ukJgsTpR8NayX90_YsgP-qOfDFLTf-qo" />
    <h1>Bonjour, je suis Jessica Dupont.</h1>
    <p>Je suis développeuse web full stack. J'aime utiliser mes connaissances pour créer des solutions.</p>
    <h2>Contact</h2>
    <address>
        <a href="mailto:jessica.dupont1990@gmail.com">jessica.dupont1990@gmail.com</a><br/>
        <a href="tel:+32479345784">0479 345 784</a>
    </address>
</section>
